@import '../../style.css';

.flashcard {
    width: 1000px;
    height: 550px;
    cursor: pointer;
    max-width: 100%;
    max-height: 90%;
    margin-bottom: 5px;
}

.flashcard-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;  
}

.prev-button, .next-button {
    position: absolute;
    top: 50%;
    color: #0078D4;
    width: 50px;
    height: 50px;
}

.prev-button {
    left: -50px;
}

.next-button {
    right: -50px;
    transform: rotateY(180deg);
}

.flashcard-front, .flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.fields-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flashcard-back {
    transform: rotateX(180deg);
}

.flip {
    transform: rotateX(180deg);
}

.flashcard-button-group {
    position: absolute;
    top: 10px;
    right: 5px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.flashcard-button {
    all: unset;
    background-color: #ffffffff;
}

.flashcard-button:hover {
    color: #0078D4;
}