<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcard</title>
    <link rel="stylesheet" href="Flashcard.css">
</head>

<body>
    <div class="flashcard">
        <div class="flashcard-wrapper">
            <div class="flashcard-front">
                <div>Mặt trước</div>
                <div class="flashcard-button-group">
                    <button class="flashcard-button"><i class="material-icons md-24">star</i></button>
                    <button class="flashcard-button"><i class="material-icons md-24">edit</i></button>
                    <button class="flashcard-button"><i class="material-icons md-24">more_vert</i></button>
                </div>
                <div>
                    a small animal with fur, four legs, a tail, and claws,
                    usually kept as a pet or for catching mice
                </div>
            </div>
            <div class="flashcard-back">
                <div>Mặt sau</div>
                <div class="flashcard-button-group">
                    <button class="flashcard-button"><i class="material-icons md-24">star</i></button>
                    <button class="flashcard-button"><i class="material-icons md-24">edit</i></button>
                    <button class="flashcard-button"><i class="material-icons md-24">more_vert</i></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>