@import '../../style.css';

/*
.search-bar {
    margin-top: 20px;
    width: 1000px;
    height: 40px;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #ffffff;
}

.search-bar-icon {
    margin-left: 10px;
}

.search-bar-input {
    all: unset;
    width: 90%;
    height: 100%;
}*/

.breadcrumb{
    align-self: start;
    font-size: 1rem;
  }
  
.search-bar {
    width: 1000px;
    max-width: 90%;
}