@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }



body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    margin-left: 0px;
    color: #323130;
    background-color: #F8F8F8;
}

.container {
    height: 100%;
}

.bottom-wrapper {
    position: relative;
    top: 40px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.main-nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 48px;
    z-index: 1;
    white-space:nowrap;
    background-color: #0078D4;
    box-sizing: border-box;
}

nav ul{
	display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}

nav ul li{
	display: inline-block;
}

.main-nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    align-items: center;
    margin: auto;
    height: 48px;
    box-sizing: border-box;
    padding: 10px 15px;
    vertical-align: middle;
  }

.main-nav span {
    height: 24px;
    font-size: 20px;
    text-align: center;
}


.main-nav a:hover {
    background-color: #003157;
  }

.side-nav {
    position: sticky;
    top: 48px;
    left: 0px;
    background-color: #ffffff;
    max-width: 240px;
    min-width: 200px;
    width: 100%;
    height: 95vh;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.side-nav a{
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    color: black;
    font-weight: 200;
}

.side-nav span {
    height: 24px;
    vertical-align: middle;
}

.side-nav-item i {
    vertical-align: middle;
}

.side-nav-item-icon {
    display: inline;
    width: 30%;
    float: left;
    box-sizing: border-box;
}

.side-nav-item-content {
    display: inline;
    width: 70%;
    float: left;
    box-sizing: border-box;
    text-align: left;
}

.side-nav a::after {
    clear: both;
    display: table;
    content: "";
}

.side-nav a:hover {
    background-color: #0078D4;
    color: #ffffff;
}

.side-nav-item .active {
    background-color: #0078D4;
    color: #ffffff;
}

.content-container {
    overflow-x: auto;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
}

.not-show {
    display: none;
}


.user-info {
    height: 130px;
    width: 100%;
}

.small-text {
    font-size: 14px;
    font-weight: 60;
    color: #000000d7;
}

.due {
    color: #f44336d7;
}

.star {
    color: #FFEB3B;
    vertical-align: middle;
}

.button {
    cursor: pointer;
    color: #0078D4;
}

.button:hover {
    background-color: #F3F2F1;
}

.button:active {
    background-color: #EDEBE9;
}

.fix-bottom {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

@media (max-width:900px){
    .side-nav {
        position: fixed;
        z-index: 1;
    }
}
