@import '../../style.css';

.home-containter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
}

.banner-container {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 30px;
    background-color: wheat;
    width: 100%;
    box-sizing: border-box;
}

.course-container {
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: wheat;
    width: 100%;    
    padding: 10px;
}

.course-card {
    width: 350px;
    height: 150px;
    background-color: #ffffff;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: space-between;
    border-radius: 5px;
}

.course-card-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.course-card-name {
    display: block;
    text-align: left;
    padding-left: 10px;
    flex-grow: 3;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-height: 100px;
}

.course-card-user {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.due-info {
    margin-left: auto;
    padding-right: 10px;
}


.img-container {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    margin: auto;
    
}

.banner-img {
    width: 600px;
    height: 200px;
}

.slider {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1;
    background-color: #afaaaa;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }